//@import "lib/variables";
@import "foundation/settings";
//@import "lib/_mixins";
@import "compass/css3";

body{
	@media #{$screen}{ //default mobile-first
		color: black;
	}
}
@media only screen and (max-width: $small-screen) and (orientation: landscape) {
	p, ul, ol, li, dd, dt{
		font-size: 1em;
	}
}
a, a:visited{
	font-family: $fontStackBold;
	@include transition-property(all);
	@include transition-duration(0.5s);
}
.circle{
	@include border-radius(500px);
}
.img-cover{
	background: {
		repeat: no-repeat;
		size: 100% 100%;
	}
	@include background-size(cover);
}
.page-section{
	@media #{$screen}{
		padding: $basepad $basepad / 2;
	}
	@media #{$small}{
		padding: $basepad * 2;
	}

}

#hero{
	.lead{
		@media #{$screen}{
			padding-top: $basepad;
			padding-bottom: $basepad;
		}
		@media #{$small}{ // adjust padding for desktop
			padding-top: 150px;
			padding-bottom: 0;
		}
	}	// position: fixed;
	width: 100%;
	h1, h2, h3{
		text-align: center;
		@include opacity (0.001);
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-delay(0.3s);
	}
	h1{
		margin-bottom: 0;
		font: {
			family: $fontStackLight;
			size: 2.5em;
		}
	}
	h2{
		margin-top: 0;
		font: {
			size: 2em;
		}
		text-transform: uppercase;
		letter-spacing: 0.05em;
		// font-weight: bold;
		margin-bottom: 0;
	}
	h3{
		font:{
			size: 1.5em;
			family: $fontStackLight;
		}
	}
	@media #{$screen}{ //default mobile-first
		color: black;
		padding: $basepad 0 0 0;
	}
	@media #{$small}{ // above mobile
		min-height: 768px;
		padding: $basepad * 2;
		h1, h2, h3, h4, p{
			color: white;
			text-shadow: 1px 1px 4px $trans-black;
			text-align: left;
		}
		background: {
			//color: $grayDark;
			image: image-url("/images/profile-desktop.jpg");
		}
	}
	@media only screen and (max-width: #{$small-medium-screen}){
		background-position-x: 20%;
	}

}
#hero-small{
	@media #{$small}{
		background: {
			//color: $grayDark;
			image: image-url("/images/profile-landscape.jpg");
		}
		height: 30em;
	}	
}
#info{
	.lead{
		p, dt, ol, li{
			font:{
				size: 1.6em;
			}
		}
	}
	a, a:visited{
		color: $theme-color-compl;
	}
	background: {
		color: $theme-color-alt;
	}
	h1, h2{
		text-align: center;
		color: $theme-color-page;
	}
	h3, h4, p, ul, ol, li, dd, dt{
		//color: adjust-color($theme-color-primary, $lightness: 25%, $saturation: 60%);
		color: white;
	}
}
#featured{
	h1, h2, h3, h4, p{
		color: white;
		text-shadow: 1px 1px 4px $trans-black;
	//	text-align: left;
		margin-bottom: 0.5em;
	}
	h1{
		font:{
			family: $fontStackLight;
		}
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
	h3{
		color: adjust-color($theme-color-compl, $lightness: -15%, $saturation: 20%); // medium blue
	}
	.columns h3{
		margin-top: $basepad;
	}
	@media #{$screen}{ //default mobile-first
		background: {
			color: $theme-color-compl-dark;
			image: image-url("/images/bg-hand-drawn-waves-sm.jpg");
			background-repeat: no-repeat;
		}
		@include background-size(cover);
		h1, h2, h3, h4{
			text-align: center;
		}
	}
	@media #{$small}{ // above mobile
		//min-height: 768px;
		padding: $basepad * 2;
		background: {
			//color: $grayDark;
			image: image-url("/images/bg-hand-drawn-waves-wide.jpg");
			repeat: no-repeat;
			attachment: fixed;
		}
		@include background-size(cover);
		h2, h3, h4{
			text-align: left;
		}

	}
}