- var info = [{url: 'tel:503.799.2217', text: '503.799.2217', icon: 'phone'}, {url: 'mailto:awhitespace@gmail.com?subject=Web Contact', text: 'awhitespace@gmail.com', icon: 'envelop'}, {url: 'twitter.com/allanwhite', text: '@allanwhite', icon: 'twitter'}, {url: 'linkedin.com/in/allanwhite', text: 'LinkedIn', icon: 'linkedin'}]

!!! 5
html
  head
    include includes/head
  body
    //- body content here
    a(name='#top')
    .container.img-cover#hero
      .row.show-for-small
        .small-6.small-centered.columns
          img(src='/images/profile-icon.jpg').circle
        .small-12.small-centered.columns.lead
          h1 R. Allan White
          h2 Digital Producer
          h3 design | motion | UX
      .row
        .large-6.large-offset-6.columns.hide-for-small.lead
          h1 R. Allan White
          h2 Digital Producer
          h3 design | motion | UX
        .large-6.large-offset-6.columns
    .container.page-section#info
      .row
        .large-12.columns.lead
          p
            | As a digital producer, I've got 20 years of experience solving design problems. I've worked as a designer, web & interactive developer, live event producer, 
            a(href='http://www.behance.net/gallery/Motion-Graphics-Reel-2013/10302671', target='_blank') animator 
            | and video editor, 
            a(href='http://whitebalanceimages.com') photographer 
            | , and 
            a(href='http://www.behance.net/gallery/User-Experience-Document-Examples-Prototypes/10645011', target='_blank') user experience 
            | (UX) practitioner. 
      .row
        .large-4.columns
          p
            | I love the art of presenting and creating multimedia experiences to support speakers and visionaries. I enjoy mentoring other digital creatives and educating clients in modern media. 
          p
            | When I'm not making things and teaching others, I train in mixed martial arts, study, and coach kids (especially my own 3 children). 

        .large-4.columns
          p
            strong Want to know more? 
            | Check out my 
            a(href='http://www.behance.net/allanwhite') portfolio
            | , read some 
            a(href='http://slid.es/allanwhite') case studies
            | , and connect on my 
            a(href='http://linkedin.com/in/allanwhite') LinkedIn profile
            | . 
          p
            | I am currently freelancing, and open to contract or staff opportunities in UX, interaction design, and media producing.
        .large-4.columns
          h3 Let's Talk.
          ul
            //- mixin info(url, text, icon)
              - var info = [{url: 'tel:503.799.2217', text: '503.799.2217', icon: 'phone'}, {url: 'mailto:awhitespace@gmail.com?subject=Web Contact', text: 'awhitespace@gmail.com', icon: 'envelop'}, {url: 'twitter.com/allanwhite', text: '@allanwhite', icon: 'twitter'}, {url: 'linkedin.com/in/allanwhite', text: 'LinkedIn', icon: 'linkedin'}]
            li
              span.icon.icon-phone
              | 503.799.2217
            li
              span.icon.icon-envelop
              a(href='mailto:awhitespace@gmail.com?subject=Web Contact') email me
            li
              span.icon.icon-linkedin
              a(href='http://linkedin.com/in/allanwhite') LinkedIn
            li
              span.icon.icon-screen
              a(href='http://behance.net/allanwhite') Behance Portfolio
            li
              span.icon.icon-twitter
              a(href='http://twitter.com/allanwhite') @allanwhite
    .container.page-section#featured
      .row
        .large-12.columns.lead
          h1 Featured Work
      .row
        .large-6.columns
          h3 Motion Reel
          .flex-video.vimeo.widescreen
            iframe(src='//player.vimeo.com/video/72046452?title=0&amp;byline=0&amp;portrait=0', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
          p
            a(href='http://www.behance.net/gallery/Motion-Graphics-Reel-2013/10302671') Read more
              //- iframe(src='//www.youtube.com/embed/X7d-wb6SJok?rel=0', frameborder='0', allowfullscreen, showinfo='0', autohide='1', controls='1', hl='en_US', modestbranding='1')
        .large-6.columns
          h3 CityServe.us
          a(href='http://www.behance.net/gallery/CityServeus/10350377')
            img(src='/images/featured/cityserve.png')
      .row
        .large-6.columns
          h3 User Experience Document Samples
          a(href='http://www.behance.net/gallery/User-Experience-Document-Examples-Prototypes/10645011')
            img(src='/images/featured/ux.jpg')
        .large-6.columns
          h3 Sacramento Festival Brand
          a(href='')
            img(src='/images/featured/sacto.jpg')
      .row#footer
        .large-12.columns
          span
            a(href='#top', title='Back to top')
              .logo.icon-easel-logo-2013-k
    include includes/scripts
