!!! 5
html
  head
    include includes/head
  body
    //- body content here
    .container.img-cover#hero
      .row
        .large-12.columns.show-for-small#hero-small
          .small-6.small-offset-6.columns
            h1 Allan White
            h2 Digital Producer
        .large-6.large-offset-6.columns.hide-for-small
          h1 Allan White
          h2 Digital Producer
        .large-6.large-offset-6.columns
          p
            | I'm an 
            a(href='http://99u.com/articles/7269/picasso-kepler-and-the-benefits-of-being-an-expert-generalist', target='_blank') expert generalist
            | , a "
            a(href='http://www.uxforthemasses.com/what-makes-good-ux-designer/', target='_blank') T-Shaped
            | " designer, web and interactive developer, video and event producer, 
            a(href='http://whitebalanceimages.com/', target='_blank') photographer
            | , and user experience (UX) practitioner. I love the art of presenting and creating multimedia experiences to support speakers and visionaries. I enjoy mentoring other digital creatives and educating clients in modern media.
          p
            | When I'm not making things and teaching others, I train in mixed martial arts, study, and coach kids (especially my own 3 children).
          p
            | Want to know more? Check out a few 
            a(href='http://slid.es/allanwhite', target='_blank', data-cke-saved-href='http://slid.es/allanwhite') case studies
            | , and my 
            a(href='http://linkedin.com/in/allanwhite', target='_blank', data-cke-saved-href='http://linkedin.com/in/allanwhite') LinkedIn profile
            | . 
          p
            | I am currently freelancing, and open to contract or staff opportunities in UX, interaction design, animation, and media producing.
    .container.page-section#info
      .row
        .large-12.columns
          h2 Secondary headline
      .row
        .large-4.columns
          h3 thing one
        .large-4.columns
          h3 thing two
        .large-4.columns
          h3 thing three
    include includes/scripts
