script(src='/js/foundation/foundation.js')
script(src='/js/foundation/foundation.alerts.js')
script(src='/js/foundation/foundation.clearing.js')
script(src='/js/foundation/foundation.cookie.js')
script(src='/js/foundation/foundation.dropdown.js')
script(src='/js/foundation/foundation.forms.js')
script(src='/js/foundation/foundation.joyride.js')
script(src='/js/foundation/foundation.magellan.js')
script(src='/js/foundation/foundation.orbit.js')
script(src='/js/foundation/foundation.placeholder.js')
script(src='/js/foundation/foundation.reveal.js')
script(src='/js/foundation/foundation.section.js')
script(src='/js/foundation/foundation.tooltips.js')
script(src='/js/foundation/foundation.topbar.js')
script(src='/js/foundation/foundation.interchange.js')
script(type='text/javascript')
  $(document).foundation();
  //- $(document).ready(function() {('.lead').css('opacity', '1')});
  $('#hero h1').fadeTo('fast', 1, function() {
  $('#hero h2').fadeTo('fast', 1, function() {
  $('#hero h3').fadeTo('fast', 1, function() {
  // Animation complete.
  });});});

//- script(type='text/javascript')
//-   function vp_height() { $("#hero").css('height', '' + window.height());}
//-   $(document).ready(function() {
//-   vp_height();
//-   $(window).bind('resize', vp_height);
//-   }